<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.college.name %>
        <% @courses.each do |course| %>
          <li>
            <%= link_to course.name, course %>
          </li>
        <% end %>
      </h1>
    </section>
  </aside>
</div>