<% provide(:title, @college.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @college.name %>
        <%= link_to "edit", edit_college_path(@college) %>
      </h1>
    </section>
  </aside>
</div>